.cache
.vscode
build/
dist/
polypy/__pycache__/*
examples/.ipynb_checkpoints
examples/*.txt
examples/*.png
examples/notebooks/untitled.ipynb
examples/example_data/*
polypy.egg-info/
polypy/tests/__pycache__
docs/build

paper